<div class="row">
  <div class="col-md-6">
    <a routerLink="/" class="btn btn-sm btn-link">
      <i class="fa fa-arrow-circle-o-left"></i> Back To Dashboard
    </a>
  </div>
  <div class="col-md-6"></div>
</div>

<div class="card">
  <div class="card-header">
    Edit Settings
  </div>
  <div class="card-body">
    <form (submit)="onSubmit()">
      <div class="form-group">
        <label>Allow Registration</label>
        <input
          type="checkbox"
          name="allowRegistration"
          class="form-control"
          [checked]="settings.allowRegistration"
          (change)="settings.allowRegistration = !settings.allowRegistration"
        />
      </div>

      <div class="form-group">
        <label>Disable Balance On Edit</label>
        <input
          type="checkbox"
          name="disableBalanceOnEdit"
          class="form-control"
          [checked]="settings.disableBalanceOnEdit"
          (change)="
            settings.disableBalanceOnEdit = !settings.disableBalanceOnEdit
          "
        />
      </div>

      <div class="form-group">
        <label>Disable Balance ON Add</label>
        <input
          type="checkbox"
          name="disableBalanceOnAdd"
          class="form-control"
          [checked]="settings.disableBalanceOnAdd"
          (change)="
            settings.disableBalanceOnAdd = !settings.disableBalanceOnAdd
          "
        />
      </div>

      <input
        type="submit"
        value="Submit"
        class="btn btn-primary btn-blockform-group"
      />
    </form>
  </div>
</div>
