<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="card">
      <div class="card-body">
        <h3 class="text-center pb-4 pt-3">
          <span class="text-primary">
            <i class="fa fa-lock"></i> Client Panel</span
          >
          Register
        </h3>
        <form (submit)="onSubmit()">
          <div class="form-group">
            <label for="email">Email</label>
            <input
              class="form-control"
              type="email"
              name="email"
              [(ngModel)]="email"
              required
            />
          </div>

          <div class="form-group">
            <label for="password">Password</label>
            <input
              class="form-control"
              type="password"
              name="password"
              [(ngModel)]="password"
              required
            />
          </div>
          <input type="submit" value="Register" class="btn btn-primary" />
        </form>
      </div>
    </div>
  </div>
</div>
