<div class="row">
  <div class="col-md-6">
    <a routerLink="/" class="btn btn-sm btn-link btn-warning">
      <i class="fa fa-arrow-o-circle-left"></i> Dashboard
    </a>
  </div>
  <div class="col-md-6">
    <div class="btn-group pull-right">
      <a routerLink="/client/edit/{{ id }}" class="btn btn-sm btn-dark">
        Edit
      </a>
      <button class="btn-sm btn btn-danger" (click)="onDeleteClick()">
        Delete
      </button>
    </div>
  </div>
</div>

<hr />

<div *ngIf="client" class="card">
  <h3 class="card-header">{{ client.firstName }} {{ client.lastName }}</h3>
  <div class="card-body">
    <div class="row">
      <div class="col-md-8 col-sm-6">
        <h4>Client Id: {{ client.id }}</h4>
      </div>
      <div class="col-md-4 col-sm-6">
        <h4 class="pull-right">
          Balance
          <span
            [class.text-danger]="hasBalance"
            [class.text-success]="!hasBalance"
          >
            {{ client.balance | currency: "INR":"symbol" }}
          </span>
          <small>
            <a (click)="showBalanceUpdateInput = !showBalanceUpdateInput">
              <i class="fa fa-pencil"></i>
            </a>
          </small>
        </h4>
        <div class="clear-fix">
          <form *ngIf="showBalanceUpdateInput" (submit)="updateBalance()">
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                name="balance"
                [(ngModel)]="client.balance"
              />
              <span class="input-group-btn">
                <button class="btn btn-sm btn-primary" type="submit">
                  Update
                </button>
              </span>
            </div>
          </form>
        </div>
      </div>
    </div>
    <hr />
    <ul class="list-group">
      <li class="list-group-item">Client Email: {{ client.email }}</li>
      <li class="list-group-item">Client Phone: {{ client.phone }}</li>
    </ul>
  </div>
</div>
